<div class="card">
    <div class="card-header text-center">
        <h2>Búsqueda de datos</h2>
        <span>Mi pequeña descripcion de la busqueda de datos</span>
    </div>
    <div class="card-body">
        <div class="row text-center">
            <div class="col-md-3"></div>
            <div class="input-group text-center col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" aria-label="Search" placeholder="Ingrese su código de búsqueda" #inputSearch minlength="7" maxlength="15">
                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="buscarPorCodigo(inputSearch)">Buscar</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row" *ngIf="correcto==='false'">
            <div class="col-md-12 text-center">
                <code>{{ mensaje }}</code>
            </div>
        </div>
        <div class="row" *ngIf="correcto==='true'">
            <div class="col-md-12">
                <!-- Timeline -->
                <ul class="timeline">
                    <li *ngFor="let item of tracking" class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <span>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary btn-sm">
                                        <i class="fa fa-calendar mr-1"></i> {{ item.fecha_registro | date: 'dd/mm/yyyy' }}
                                        <i class="fa fa-clock-o ml-2"></i> {{ item.fecha_registro | date: 'HH:mm' }}
                                    </button>
                                </div>
                                <div class="input-group-prepend">
                                    <button class="btn btn-danger btn-sm"><b>ORIGEN: </b> {{ item.origen }}</button>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-warning btn-sm text-white"><b>DESTINO: </b>{{ item.destino }}</button>
                                </div>
                            </div>
                        </span>
                        <p class="mt-2 texto-mediano"><i class="fa fa-user"></i><b> Nombre del Destinatario: </b>{{ item.dest_nombre }}</p>
                        <p class="mb-0 texto-mediano"><i class="fa fa-home"></i><b> Empresa: </b>{{ item.dest_empresa }}</p>
                        <div class="row mt-1">
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <td colspan="2"><button class="btn btn-info btn-block text-left"><i class="fa fa-user"></i> Dirección</button></td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Zona / Barrio:</b></td>
                                        <td>{{ item.dest_zona_barrio }}</td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Avenida / Calle: </b></td>
                                        <td>{{ item.dest_calle_av }}</td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Edificio: </b></td>
                                        <td>{{ item.dest_edificio }}</td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Piso: </b></td>
                                        <td>{{ item.dest_piso }}</td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Número: </b></td>
                                        <td>{{ item.dest_nro }}</td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Referencia: </b></td>
                                        <td>{{ item.dest_referencia }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <td colspan="2"><button class="btn btn-info btn-block text-left"><i class="fa fa-user"></i> Otros Datos</button></td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Nro. Celular: </b></td>
                                        <td>{{ item.dest_celular }}</td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Correo electrónico: </b></td>
                                        <td><button class="btn btn-success text-white btn-sm texto-pequeno"><b>{{ item.dest_correo }}</b></button></td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Tipo: </b></td>
                                        <td>{{ item.tipo_correspondencia }}</td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Tipo Entrega: </b></td>
                                        <td>{{ item.tipo_entrega }}</td>
                                    </tr>
                                    <tr class="texto-pequeno">
                                        <td><b>Peso: </b></td>
                                        <td><button class="btn btn-warning btn-sm text-white texto-pequeno"><b>{{ item.peso }}</b></button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                </ul><!-- End -->
            </div>
        </div>
    </div>
</div>

